include LICENSE
include README.md
recursive-include core/templates *
recursive-include core/static *
recursive-include core/locale *
recursive-include core/migrations *.py
prune core/migrations/__pycache__
prune */__pycache__
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo